doctype html

html
  head
    title composit
    link(rel='stylesheet', href='/application.css')
    meta(name='viewport', content='width=device-width, user-scalable=no')
  body
    .container
      form.search
        label
          | Search Flickr:
          input(type='text', name='query')
          button(type='submit') Go

      .render(style='display:none')
        .spinner
        canvas

      .info(style='display:none')
        .num-images

    script(src='/vendor/sugar.js')
    script(src='/vendor/jquery.js')
    script(src='/vendor/spin.js')
    script(src='/application.js')
    script require('composit').start();