doctype html

html
  head
    title composit
    style
      body { text-align: center; font-family: Helvetica, sans-serif; }
  body
    form.search
      label(for='query') Search Flickr:
      input(type='text', name='query')
      button(type='submit') Go
      .spinner

    canvas.render
    .info

    script(src='/vendor/sugar.js')
    script(src='/vendor/jquery.js')
    script(src='/vendor/spin.js')
    script(src='/application.js')
    script require('composit').start();